/*
 * @Author: Peter Gao 
 * @Date: 2024-04-27 08:46:47 
 * @Last Modified by: peter_gao@outlook.com
 * @Last Modified time: 2024-04-27 13:43:44
 */
/* $primary: #227c9d; */

/* @import '~bootstrap/scss/bootstrap.scss';
$primary:  #227C9D;
$secondary: #17C3B2;
$dark: #FFCB77;
$light: #FEF9EF;
$danger: #FE6D73; */

/* @import "../node_modules/bootstrap/scss/bootstrap"; */
